*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p {
	margin-left: 200px;
}
.container {
    max-width: 100%;
    min-height: 150px;
    border: 2px solid black;
    margin: 0 auto;
}

.title {
    text-align: center;
    padding: 60px;
}

.cards-container {
    min-height: 450px;
    max-width: 100%;
    margin: 0 auto;
		border: 1px solid black;
    
}

.cards {
    min-height: 110px;
    width: calc((100% - 800px) / 3);
    border: 1px solid black;
		margin-top: 60px;
		margin-right: 40px;
		float: left;
}

.clearfix.{
	display: table;
	content: '';
	clear: both;
}
